:root {
  --primary: #f59e0b;
  --primaryDarker: #d97706;
  --background: #404040;
  --backgroundLighter: #4a4a4a;
  --backgroundDarker: #363636;
}

.App {
  display: flex;
  padding-top: 10vh;
  text-align: center;
  background-color: var(--background);
  min-height: 100vh;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.item-list::-webkit-scrollbar {
  width: 10px;
}

.item-list::-webkit-scrollbar-track {
  box-shadow: inset 0 0 10px var(--backgroundDarker);
  border-radius: 10px;
}

.item-list::-webkit-scrollbar-thumb {
  background: var(--primary);
  border-radius: 10px;
}

.item-list::-webkit-scrollbar-thumb:hover {
  background: var(--primaryDarker);
}
